.header{
    background-color: #141814;
    padding: 10px 0;
}
.header nav a{
    text-decoration: none;
    color: #fbfbfb;
    
    font-weight: 600;
    margin-right: 20px;
}

.header nav a:hover{
    color:darkgoldenrod;
}